
@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario</h2>

<form>
    <label for="tnome">Nome:</label>
    <input type="text" id="tnome" name="cnome" />
    <br>
    <label for="tidade">Idade:</label>
    <input type="number" id="tidade" name="cIdade" />
    <br>
    <label for="temail">E-mail:</label>
    <input type="email" id="temail" name="cemail" />
    <br>
    <label for="tendereco">Endereço:</label>
    <input type="text" id="tendereco" name="cendereco">
    <br>
    <input type="submit" value="Cadastrar">
</form>